In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('supermarketdata.csv')

In [3]:
dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,week_day,Date,Time,Payment,Revenue,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,$74.69,7,26.1415,$548.97,Sat,1/5/2019,1:08 PM,Ewallet,$522.83,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,$15.28,5,3.8200,$80.22,Fri,3/8/2019,10:29 AM,Cash,$76.40,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,$46.33,7,16.2155,$340.53,Sun,3/3/2019,1:23 PM,Credit card,$324.31,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,$58.22,8,23.2880,$489.05,Sun,1/27/2019,8:33 PM,Ewallet,$465.76,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,$86.31,7,30.2085,$634.38,Fri,2/8/2019,10:37 AM,Ewallet,$604.17,5.3

In [5]:
import pandas as pd
salesdata ={"Invoice_ID":['750-67-8428','226-31-3081','631-41-3108','123-19-1176'],
            "Branch" : ['A','C','A','A'],
            "City" : ['Yangon','Naypyitaw','Yanagon','Yangon'],
            "Customer_type":['Member','Normal','Normal','member'],
            "Gender": ['Female','Female','Male','Male']
}
#create dataframe
df = pd.DataFrame(salesdata)
print(df)

    Invoice_ID Branch       City Customer_type  Gender
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A    Yanagon        Normal    Male
3  123-19-1176      A     Yangon        member    Male